body
  background-color: $body_color
  font-family: Arial
h1
  color: $titles_color
  font-size: $h1_font_size
  padding: 20px
p
  color: $paragraphs_color
img
  border: 5px solid $image_border_color
