doctype
include libs.pug
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(href="./css/application.css", rel="stylesheet", type="text/css")
  body.index
    include includes/partials/_header.pug
    ul.inline
      li
        include includes/modules/_blurb.pug
      li
        include includes/modules/_blurb.pug
      li
        include includes/modules/_blurb.pug
